

<h3>Compte validé!</h3>

Hello {{ name }}! ton compte a été activé.

<p>
    Tu peux te connecter sur <a href="{{ url }}">Dipongo</a> <br/>
    et commencer à répondre aux questions.
</p>
<img style="text-align: center;" src="{{ logo }}">
<p>
    Cordialement,
</p>
<h4 >

    © {{ date('now')|date("Y") }} Dipongo Tous droits réservés<br />
</h4>





{# Makes an absolute URL to the /images/logo.png file #}


